body { background: #222; }
.track { background: url("../img/bkg.gif") #666; border: 5px solid lime; border-radius: 10px;
    width: 400px; height: 500px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 10px;
    color: white;
    font-family: Arial, sans-serif;
    }
.name { color: #ddd; font: 18px Arial, sans-serif; margin: 10px 0px 5px;}
#wavedisplay, .aligner { width: 860px; margin: 0px auto;}
#wavedisplay { height: 80px; background: black; position:relative;}
.loading { border-color: red;}
.slider { height: 20px; width: 300px;}
.xfade { display:block; margin: 10px auto; height:20px; width: 600px;}
.droptarget { background: gray;}
.deck { color: black; display: block; width: 320px; height:320px; margin: 10px auto;}
.audiobuffer { position: relative; width: 370px; height: 50px; display:inline-block; background: navy;}
.audiobuffer canvas { position: absolute; left:0px;}
.disc { background: black; color: white; position: absolute; width: 300px; height: 300px; 
	border:10px solid white; border-radius: 160px;}
.cueButton {
	-webkit-box-shadow: white 0px 1px 1px 0px inset, rgba(0, 0, 0, 0.597656) 0px 3px 3px 0px;
	background-color: #B6D3F4;
	background-image: -webkit-linear-gradient(top, #B6D3F4, #5483B8);
	border: 1px solid #9AC9FF;
	border-radius: 18px;
	box-shadow: white 0px 1px 1px 0px inset, rgba(0, 0, 0, 0.597656) 0px 3px 3px 0px;
	color: #555;
	display: block;
	font: 15px "Chango", 'Lucida Grande', sans-serif;
	padding: 1px 7px 0px 7px;
	position: absolute;
	text-shadow: rgba(0, 0, 0, 0.296875) 0px -1px 0px;
	bottom: 5px;
	left: 5px;
}
.cueButton.active {
	background-color: red;
	background-image: -webkit-linear-gradient(top, red, pink);
	border: 1px solid #FFC99A;
}
.cueButton:hover {
	-webkit-box-shadow:inset 0 2px 6px #fff,0 3px 3px rgba(0,0,0,0.6);
	box-shadow:inset 0 2px 6px #fff,0 3px 3px rgba(0,0,0,0.6)
}

.powerButton {
	-webkit-box-shadow: white 0px 1px 1px 0px inset, rgba(0, 0, 0, 0.597656) 0px 3px 3px 0px;
	background-color: #B6D3F4;
	background-image: -webkit-linear-gradient(top, #B6D3F4, #5483B8);
	border: 1px solid #9AC9FF;
	border-radius: 18px;
	box-shadow: white 0px 1px 1px 0px inset, rgba(0, 0, 0, 0.597656) 0px 3px 3px 0px;
	color: #555;
	display: block;
	font: 15px "Chango", 'Lucida Grande', sans-serif;
	padding: 1px 7px 0px 7px;
	position: absolute;
	text-shadow: rgba(0, 0, 0, 0.296875) 0px -1px 0px;
	bottom: 5px;
	right: 5px;
}
.powerButton.active {
	background-color: red;
	background-image: -webkit-linear-gradient(top, red, pink);
	border: 1px solid #FFC99A;
}
.powerButton img { width: 15px; height: 15px; }

.license { color: #666; float: right }
.midi { color: #ddd; font: 12pt Arial, sans-serif; margin: 20px 0px;}
input[type="range"] {
    -webkit-appearance: none;
    background-color: gray;
    height: 12px;
}
 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    width: 10px;
    height: 20px;
 
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}
#MIDIPlugin { visibility: hidden; }
